
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="container bg-info">
        <form action="Calculator/Results" method="post" class=" form-group">
            <div class="row">
                <div class="container col-sm-4">
                    <h3 class="text-center">Automobile Loan</h3>
                    <label class="col-form-label">Amount:</label>
                    <input class="form-control mb-2" type="text" name="AutoLoanAmount" />
                    <label class="col-form-label"> Loan Time:</label>
                    <input class="form-control" type="text" name="AutoLoanTime" />
                    <label class="col-form-label"> APR:</label>
                    <input class="form-control" type="text" name="AutoLoanApr" />
                </div>

                <div class="container col-sm-4">
                    <h3 class="text-center">Credit Card Loan</h3>
                    <label class="col-form-label">Amount:</label>
                    <input class="form-control" type="text" name="CreditCardLoanAmount" />
                    <label class="col-form-label"> Loan Time:</label>
                    <input class="form-control" type="text" name="CreditCardLoanTime" />
                    <label class="col-form-label"> APR:</label>
                    <input class="form-control" type="text" name="CreditCardLoanApr" />
                </div>

                <div class="container col-sm-4">
                    <h3 class="text-center">Morgage</h3>
                    <label class="col-form-label">Amount:</label>
                    <input class="form-control" type="text" name="MortgageAmount" />
                    <label class="col-form-label"> Loan Time:</label>
                    <input class="form-control" type="text" name="MortgageTime" />
                    <label class="col-form-label"> APR:</label>
                    <input class="form-control" type="text" name="MortgageApr" />
                </div>
            </div>

            <div class="container" style=" margin-top: 20px;">
                <button class="btn-lg btn-success mt-2"  asp-controller="Calculator" asp-action="Results">
                    CALCULATE
                </button>
             </div>

        </form>
    </div>
</div>


