@model DebtCalculatorWebApp.Models.AutoLoan

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Loan Description: Automomile Loan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AutoLoanAmount" class="control-label">Amount</label>
                <input asp-for="AutoLoanAmount" class="form-control" />
                <span asp-validation-for="AutoLoanAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AutoLoanTime" class="control-label">Time</label>
                <input asp-for="AutoLoanTime" class="form-control" />
                <span asp-validation-for="AutoLoanTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AutoLoanApr" class="control-label">APR</label>
                <input asp-for="AutoLoanApr" class="form-control" />
                <span asp-validation-for="AutoLoanApr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecordDate" class="control-label">Record Date</label>
                <input asp-for="RecordDate" class="form-control" />
                <span asp-validation-for="RecordDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-lg btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

