@{
    ViewData["Title"] = "Home Page";
}

<div class="row" style=" padding-left:0%;">
        <img src="~/images/calculator.jpg" class=" col-lg-6" style="width:550px; height:600px;  float:left;"/>
    
    <div class=" container jumbotron bg-success col-lg-6" style="background-color: gray; width:550px; height:600px;">
        <h2>DEBT CALCULATOR WEB APPLICATION</h2> <br>

        <p>
            This is a debt calculator web application. The App
            consists of three type of loans such as automobile loan, credit
            card loan, and mortgage. The application  lets users enter
            their debts information such as the amount of the debt, the
            annual percentage rate, and the time of the loan. When the
            user provides all the required information; the application will
            be able to calculate the monthly payment of each loan and
            display them.
        </p>

    </div>

</div>

